<section class="form-container">
  <h2 class="form-title">{{ esEdicion ? 'Editar Servicio' : 'Crear Servicio' }}</h2>

  <form [formGroup]="servicioForm" (ngSubmit)="guardar()" class="service-form">
    <div class="form-group">
      <label class="form-label">
        Nombre:
        <input type="text" formControlName="name" class="form-input" />
      </label>
    </div>

    <div class="form-group">
      <label class="form-label">
        Descripción:
        <textarea formControlName="description" class="form-textarea"></textarea>
      </label>
    </div>

    <div class="form-group">
      <label class="form-label">
        Imagen (URL):
        <input type="text" formControlName="imageUrl" class="form-input" />
      </label>
    </div>

    <div class="form-group">
      <label class="form-label">
        Duración (minutos):
        <input type="number" formControlName="durationMin" class="form-input" />
      </label>
    </div>

    <div class="form-group">
      <label class="form-label">
        Precio:
        <input type="number" formControlName="price" class="form-input" />
      </label>
    </div>

    <!-- Sección de PDF -->
    <div *ngIf="esEdicion" class="catalogo-container">
      <div class="form-group">
        <label class="form-label">
          Catálogo (PDF, máx. 5MB):
          <input type="file" 
                 class="file-input"
                 (change)="onArchivoSeleccionado($event)" 
                 accept="application/pdf" />
        </label>
      </div>
      
      <button type="button" 
              class="upload-btn"
              (click)="subirCatalogo()" 
              [disabled]="!archivoCatalogo">
        Subir Catálogo
      </button>
      <div *ngIf="mensajeCatalogo" class="catalogo-existente">
        <p class="success-message">{{ mensajeCatalogo }}</p>
        <button type="button" class="button button-blue" (click)="verCatalogoExistente()">
          Ver Catálogo Actual
        </button>
      </div>
      
      <p class="error-message" *ngIf="errorCatalogo">{{ errorCatalogo }}</p>
    </div>

    <button type="submit" class="submit-btn" [disabled]="servicioForm.invalid">
      {{ esEdicion ? 'Actualizar' : 'Crear' }} Servicio
    </button>
  </form>

  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</section>